mixin post(post)
	.post(data-ks-editable=editable(user, { list: 'Post', id: post.id }))
		h2: a(href='/blog/post/' + post.slug)= post.title
		p Posted 
			if post.publishedDate
				| on #{post._.publishedDate.format('MMMM Do, YYYY')}
			if post.author
				|  by #{post.author.name.full}
		if post.image.exists
			img(src=post._.image.fit(160,160)).img.pull-right
		p!= post.content.brief
		if post.content.extended
			p.read-more: a(href='/blog/post/' + post.slug) Read more...


h1 Blog
.row
	.col-xs-12
		.content-box
			.col-sm-8.col-md-9
				if posts.results.length
					if posts.totalPages > 1
						h4 Showing 
							strong #{posts.first}
							|  to 
							strong #{posts.last}
							|  of 
							strong #{posts.total}
							|  posts.
							if posts.total > 2
								a(href='/blog')
									|  Click here to all blog posts
					else
						h4 Showing #{utils.plural(posts.results.length, '* post')}.
					.blog
						each post in posts.results
							+post(post)
					if posts.total > 2
						a(href='/blog')
							h3 See all blog posts
				else
					h3 There are no posts yet.
